# List

List is one of the most frequently used and very versatile datatype used in Python.

In Python programming, a list is created by placing all the items (elements) inside a square bracket [ ], separated by commas.

It can have any number of items and they may be of different types (integer, float, string etc.).

Also, a list can even have another list as an item. This is called nested list.

List properties: ordered, iterable, mutable, can contain multiple data types

### Creating a list

In [1]:
# empty list

my_list = []

print(my_list)
print(type(my_list))

[]
<class 'list'>

In [2]:
# empty list

new_list = list()

print(new_list)
print(type(new_list))

[]
<class 'list'>

In [3]:
# list of string

my_list = ['one', 'two', 'three']
print(my_list)

['one', 'two', 'three']

In [4]:
# list of integers

my_list = [1, 2, 3]
print(my_list)

[1, 2, 3]

In [5]:
# list with mixed datatypes

my_list = [1, "Hello", 3.4]
print(my_list)

[1, 'Hello', 3.4]

In [6]:
# nested list

my_list = ["mouse", [8, 4, 6], ['a']]
print(my_list)

['mouse', [8, 4, 6], ['a']]

In [8]:
# Passing a string to the list function gives a list of individual letters

str_list = list('Hello') 

print(str_list)

['H', 'e', 'l', 'l', 'o']

#### Length of a list

In [9]:
print(len(str_list))
print('\n')
print(len(my_list))

5


3

### Accessing a list

In [13]:
# a) Index

# Index starts from 0. 
# So, a list having 5 elements will have index from 0 to 4.

my_list = ['p','r','o','b','e']
print(my_list)

['p', 'r', 'o', 'b', 'e']

In [14]:
len(my_list)

5

In [15]:
print(my_list[0])    # Mention the index of the element to be extracted

p

In [19]:
print(my_list[-1])   # negative indexing 
                     # The last element is considered as -1 and so on
    
print(my_list[-3])

e
o

In [20]:
# Slicing
# We can access a range of items in a list by using the 
# slicing operator (colon).

print(my_list[2:4]) # Extract a slice of the list from position 2 to 4.
                    # Notice that we wont take the 4th index position element 
                    # but instead we take 2:4-1 = 2:3 that is 2nd and 3rd elements only

['o', 'b']

In [21]:
my_list[:-2]  # All elements from the start until the 3rd element from the end

['p', 'r', 'o']

In [22]:
print(my_list[:3]) # All elements from the start until the 3rd element

['p', 'r', 'o']

In [23]:
print(my_list[:]) # All elements

['p', 'r', 'o', 'b', 'e']

In [24]:
my_list[::2]       #The format is list[start : end : step] 
                   # Since we have given step as 2, it takes every element which is a multiple of 2

['p', 'o', 'e']

In [25]:
# backwards (step by -1)
my_list[::-1]

['e', 'b', 'o', 'r', 'p']

In [26]:
# alternative method for returning the list backwards
list(reversed(my_list))

['e', 'b', 'o', 'r', 'p']

In [27]:
# nested list

n_list = ['HAPPY', [2,0,2,0]]
n_list

['HAPPY', [2, 0, 2, 0]]

In [28]:
print(n_list[0][-1])

Y

In [29]:
n_list[0][1:4]

'APP'

In [30]:
print(n_list[1][0])

2

In [31]:
print(n_list[1][::2])

[2, 2]

### Updation of a list 

List are mutable, meaning, their elements can be changed

In [32]:
# mistake values
odd = [2, 4, 6, 8]

odd

[2, 4, 6, 8]

In [33]:
# change the 1st item    
odd[0] = 1  

odd

[1, 4, 6, 8]

In [35]:
# change 2nd to 4th items
odd[1:4] = [3, 5]  

odd

[1, 3, 5]

In [41]:
# We can add one item to a list using append() method or add several items using extend() method.
# But at the end of the list

odd = [1, 3, 5]

odd

[1, 3, 5]

In [42]:
odd.append(7)

print(odd)

[1, 3, 5, 7]

In [43]:
odd.append(['this','will','append','my new list','as an','nested list'])

print(odd)

# output: [1, 3, 5, 7, ['this', 'will', 'append', 'my new list', 'as an', 'nested list']]

[1, 3, 5, 7, ['this', 'will', 'append', 'my new list', 'as an', 'nested list']]

In [44]:
odd.extend(['this', 'will', 'extend', 'my', 'existing list'])

print(odd)

#output: [1, 3, 5, 7, 'this', 'will', 'extend', 'my', 'existing list']

[1, 3, 5, 7, ['this', 'will', 'append', 'my new list', 'as an', 'nested list'], 'this', 'will', 'extend', 'my', 'existing list']

In [45]:
odd.extend([9, 11, 13])

print(odd)

[1, 3, 5, 7, ['this', 'will', 'append', 'my new list', 'as an', 'nested list'], 'this', 'will', 'extend', 'my', 'existing list', 9, 11, 13]

In [46]:
# We can also use + operator to combine two lists. This is also called concatenation.
# The * operator repeats a list for the given number of times.

odd = [1, 3, 5]

print(odd + [9, 7, 5])

print(["re"] * 3)

[1, 3, 5, 9, 7, 5]
['re', 're', 're']

In [47]:
# Inserting at a desired location

odd = [1,3,9,11]

print(odd)

odd.insert(1,15)        # list_name.insert(index, replacing element)

print(odd)

[1, 3, 9, 11]
[1, 15, 3, 9, 11]

In [48]:
odd[3] = [5, 7]

print(odd)

[1, 15, 3, [5, 7], 11]

### Delete Elements

In [49]:
my_list = ['p','r','o','b','l','e','m']

my_list

['p', 'r', 'o', 'b', 'l', 'e', 'm']

In [50]:
# delete one item

del my_list[2]


print(my_list)

['p', 'r', 'b', 'l', 'e', 'm']

In [51]:
# delete multiple items
del my_list[1:5]  


print(my_list)

['p', 'm']

In [52]:
# delete entire list
del my_list       

print(my_list)

NameError: name 'my_list' is not defined

In [57]:
# We can use remove() method to remove the given item or pop() method to remove an item at the given index.

my_list = ['p','r','o','b','l','e','m','p']

my_list

['p', 'r', 'o', 'b', 'l', 'e', 'm', 'p']

In [58]:
# Removes only the first occurance
# .remove takes in directly the item to be removed and not indexes of them

my_list.remove('p') 


print(my_list)

['r', 'o', 'b', 'l', 'e', 'm', 'p']

In [59]:
# .pop returns the removed/popped item

a = my_list.pop(1)
print(a)

o

In [60]:
print(my_list.pop(1))

print(my_list)

b
['r', 'l', 'e', 'm', 'p']

In [61]:
# by default pop removes the item from the last index location

print(my_list.pop())

print(my_list)

p
['r', 'l', 'e', 'm']

### More Functions

In [62]:
my_list = ['p','r','o','b','l','e','m']
my_list

['p', 'r', 'o', 'b', 'l', 'e', 'm']

In [65]:
print(sorted (my_list))   # Does not make changes in the original list

my_list

['b', 'e', 'l', 'm', 'o', 'p', 'r']

['p', 'r', 'o', 'b', 'l', 'e', 'm']

In [66]:
sorted(my_list, reverse=True)  # sort in reverse

['r', 'p', 'o', 'm', 'l', 'e', 'b']

In [67]:
print(my_list.sort())      # Makes changes in the original list
print('\n')
print(my_list)

None


['b', 'e', 'l', 'm', 'o', 'p', 'r']

In [68]:
# sort in reverse

my_list.sort(reverse=True)

my_list

['r', 'p', 'o', 'm', 'l', 'e', 'b']

In [69]:
num_list = [1, 3,2, 6, 4, 5, 7]
print(num_list)

print('\n')
print(sorted (num_list))

[1, 3, 2, 6, 4, 5, 7]


[1, 2, 3, 4, 5, 6, 7]

In [70]:
num_list = [1, 3, 2, 6, 4, 5, 7]
print(num_list)

print('\n')
print(sorted (num_list, reverse=True))

[1, 3, 2, 6, 4, 5, 7]


[7, 6, 5, 4, 3, 2, 1]

In [71]:
num_list.sort()     # Makes changes in the original list
print(num_list)

[1, 2, 3, 4, 5, 6, 7]

In [72]:
num_list.sort(reverse=True)     # Makes changes in the original list
print(num_list)

[7, 6, 5, 4, 3, 2, 1]

In [73]:
lst =  [1, 2.5, 20, 'A', 5, 'b']
print(lst)

[1, 2.5, 20, 'A', 5, 'b']

In [74]:
lst.sort()         # both gives error, as we cannot compare strings and int/float
print(sorted (lst))

TypeError: '<' not supported between instances of 'str' and 'int'

In [75]:
names = ['Sohel', 'Adil', 'Rashid', 'Zaid', 'Mujahid', 'Mudassir', 'Ali']

# sort by a key
names.sort(key=len)
names

['Ali', 'Adil', 'Zaid', 'Sohel', 'Rashid', 'Mujahid', 'Mudassir']

In [76]:
names1 = ['Sohel', 'Adil', 'Rashid', 'Zaid', 'Mujahid', 'Mudassir', 'Ali']

print(sorted(names1, key=len))

print(names1)

['Ali', 'Adil', 'Zaid', 'Sohel', 'Rashid', 'Mujahid', 'Mudassir']
['Sohel', 'Adil', 'Rashid', 'Zaid', 'Mujahid', 'Mudassir', 'Ali']

In [77]:
my_list2 = my_list.copy()  # list.copy() returns a copy of the list

print(my_list2)

['r', 'p', 'o', 'm', 'l', 'e', 'b']

In [78]:
my_list.count('l')

1

In [79]:
my_list.index('l')

4

In [80]:
# Deleting the items of list
my_list = []

my_list

[]

In [81]:
my_list.clear()            # list.clear() removes all the elements of the list

print(my_list)

[]

In [83]:
so = list('accccccc')
print(so)

print('\n')
go = so
print(go)

['a', 'c', 'c', 'c', 'c', 'c', 'c', 'c']


['a', 'c', 'c', 'c', 'c', 'c', 'c', 'c']

In [84]:
go[0] = 'c'

print(go)
print('\n')

# It makes changes in both the lists
print(so)

['c', 'c', 'c', 'c', 'c', 'c', 'c', 'c']


['c', 'c', 'c', 'c', 'c', 'c', 'c', 'c']

In [85]:
po = list('accccccc')
print(po)

print('\n')
lo = po.copy()
print(lo)

['a', 'c', 'c', 'c', 'c', 'c', 'c', 'c']


['a', 'c', 'c', 'c', 'c', 'c', 'c', 'c']

In [86]:
lo[0] = 'c'

print(lo)
print('\n')

# It does not makes any change in both the origial list
print(po)

['c', 'c', 'c', 'c', 'c', 'c', 'c', 'c']


['a', 'c', 'c', 'c', 'c', 'c', 'c', 'c']

In [87]:
lst = [1, 2, 3, 4]
print(lst)
print('\n')

print(1 in lst)
print('\n')

print(5 in lst)

[1, 2, 3, 4]


True


False

In [91]:
l1 = [1, 2, 3]
l2 = [1, 2, 3]

print(l1 == l2)
print(l1 is l2)

True
False

In [92]:
lst = [1,2,3,4,5]
abc = lst
abc.append(6)

print(lst)     # changes made in abc will also reflect in lst

[1, 2, 3, 4, 5, 6]

In [96]:
# String split
# by default it splits on white/blank spaces
s = 'one two three four five'
print(s)
split_s = s.split()
print(split_s)

one two three four five
['one', 'two', 'three', 'four', 'five']

In [97]:
# we can change the splitting character 

s = 'one, two, three, four, five'
print(s)
split_s = s.split(',')
print(split_s)

one, two, three, four, five
['one', ' two', ' three', ' four', ' five']

In [98]:
lst1 = [1,2,3,4]
lst2 = ['sohel','sam','ram','roy']
new_lst = lst1 + lst2
print(new_lst)

[1, 2, 3, 4, 'sohel', 'sam', 'ram', 'roy']

In [99]:
lst1 = [1,2,3,4]
lstmul3 = lst1*3
print(lstmul3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [100]:
# list count - frequency on an element

numbers = [1, 2, 3, 1, 3, 4, 2, 5]

print(numbers)
print('\n')

print(numbers.count(1))
print('\n')

print(numbers.count(3))
print('\n')

print(numbers.count(4))

[1, 2, 3, 1, 3, 4, 2, 5]


2


2


1

## Advance Operations

In [101]:
l = [5,6,7,4,5,6,"abc","xyz"]

In [102]:
len(l)

8

In [103]:
for ele in l:
    print(ele)

5
6
7
4
5
6
abc
xyz

In [104]:
for i in range(len(l)):
    print(i)

0
1
2
3
4
5
6
7

In [105]:
for i in range(len(l)):
    print(l[i])

5
6
7
4
5
6
abc
xyz

### List Comprehensions

In [106]:
# without list comprehension 

squares = []

for i in range(10):
    squares.append(i**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [107]:
# using list comprehension 

sqaures = [i**2 for i in range(10)]
print(sqaures)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [108]:
lst = [-10, -20, 10, 20, 50]
print(lst)

print('\n')

new_lst = [i**2 for i in lst]
print(new_lst)

[-10, -20, 10, 20, 50]


[100, 400, 100, 400, 2500]

In [110]:
# get only positive numbers

new_lst = [i for i in lst if i >= 0]
print(new_lst)

[10, 20, 50]

In [111]:
# create a list of tuples like (number, square_of_number)

new_lst = [(i, i**2) for i in range(10)]
print(new_lst)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [112]:
# create a list of dictionaris like (number: square_of_number)

new_lst = [{i: i**2} for i in range(10)]
print(new_lst)

[{0: 0}, {1: 1}, {2: 4}, {3: 9}, {4: 16}, {5: 25}, {6: 36}, {7: 49}, {8: 64}, {9: 81}]

In [119]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

print(matrix)        # list of lists

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [121]:
# transpose of matrix without list comprehension 

print(matrix) 
print('\n')

transpose = []

for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transpose.append(lst)
        
print(transpose)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]


[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [123]:
# transpose of matrix using list comprehension 

transpose =  [[row[i] for row in matrix] for i in range(4)]

print(transpose)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

## Practice

In [124]:
l = [4,5,6,6]
l1 = [4,5,6,4,3]

In [125]:
l + ["abcxyz"]

[4, 5, 6, 6, 'abcxyz']

In [126]:
l + l1

[4, 5, 6, 6, 4, 5, 6, 4, 3]

In [274]:
[5,4,3] * 3

[5, 4, 3, 5, 4, 3, 5, 4, 3]

In [128]:
l = [1,2,3,4,5,6,7,8,9,"sohel"]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'sohel']

In [129]:
l.append("shaikh")
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'sohel', 'shaikh']

In [131]:
l.insert(2,"xyz")
l

[1, 2, 'xyz', 'xyz', 3, 4, 5, 6, 7, 8, 9, 'sohel', 'shaikh']

In [132]:
l.pop()

'shaikh'

In [133]:
l

[1, 2, 'xyz', 'xyz', 3, 4, 5, 6, 7, 8, 9, 'sohel']

In [134]:
l.pop()

'sohel'

In [135]:
l

[1, 2, 'xyz', 'xyz', 3, 4, 5, 6, 7, 8, 9]

In [136]:
l.pop(3)

'xyz'

In [137]:
l

[1, 2, 'xyz', 3, 4, 5, 6, 7, 8, 9]

In [138]:
l[::-1]

[9, 8, 7, 6, 5, 4, 3, 'xyz', 2, 1]

In [139]:
l

[1, 2, 'xyz', 3, 4, 5, 6, 7, 8, 9]

In [140]:
l.reverse()

In [141]:
l

[9, 8, 7, 6, 5, 4, 3, 'xyz', 2, 1]

In [142]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [144]:
l = [4,3,4,4,5,6,67,7]
l

[4, 3, 4, 4, 5, 6, 67, 7]

In [145]:
l.sort()

In [146]:
l

[3, 4, 4, 4, 5, 6, 7, 67]

In [147]:
sl = ['sohel','shaikh','xyz']
sl

['sohel', 'shaikh', 'xyz']

In [148]:
sl.sort()

In [149]:
sl

['shaikh', 'sohel', 'xyz']

In [150]:
x = ['sad', 'sam', 'sal']
x

['sad', 'sam', 'sal']

In [151]:
x.sort()
x

['sad', 'sal', 'sam']

In [152]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]
l3 = [6,5,7,8]

In [153]:
l = [l1,l2,l3]

In [154]:
l

[[1, 2, 3, 4], [5, 6, 7, 8], [6, 5, 7, 8]]

In [155]:
n = []

for i in l:
    n.append(i[2])

In [157]:
n

[3, 7, 7]

In [159]:
[i[2] for i in l]

[3, 7, 7]

In [160]:
l = [4,5,6,6]
l

[4, 5, 6, 6]

In [161]:
l.append(8)

In [162]:
l

[4, 5, 6, 6, 8]

In [163]:
l.append([5,6,7])

In [164]:
l

[4, 5, 6, 6, 8, [5, 6, 7]]

In [165]:
l1 = [4,5,6,7]
l1

[4, 5, 6, 7]

In [166]:
l1.extend([5,6,7])

In [167]:
l1

[4, 5, 6, 7, 5, 6, 7]

In [168]:
l1.extend(900)

TypeError: 'int' object is not iterable

In [169]:
l1.extend([900])

In [170]:
l1

[4, 5, 6, 7, 5, 6, 7, 900]

In [172]:
l = [5,3,4,5,5,6,7,8,5,6,7,8,2,4,3,2,2,2]
l

[5, 3, 4, 5, 5, 6, 7, 8, 5, 6, 7, 8, 2, 4, 3, 2, 2, 2]

In [173]:
l = [i for i in l if i !=2]
l

[5, 3, 4, 5, 5, 6, 7, 8, 5, 6, 7, 8, 4, 3]

In [174]:
l1 = [5,3,4,5,5,6,7,8,5,6,7,8,2,4,3,2,2,2]
l1

[5, 3, 4, 5, 5, 6, 7, 8, 5, 6, 7, 8, 2, 4, 3, 2, 2, 2]

In [176]:
m = []

for i in l1:
    if i != 2:
        m.append(i)
        
print(m)

[5, 3, 4, 5, 5, 6, 7, 8, 5, 6, 7, 8, 4, 3]

## EXTRA

In [177]:
# print each elemt of a list using for loop

a = [1,2,3,4,5,6]  

for element in a:
    print(element)

1
2
3
4
5
6

In [178]:
## 10) square each element of a list and append to a new list

a = [1,2,3,4,5,6]  

b = []  # empty list

for element in a:
    b.append(element * element)

b

[1, 4, 9, 16, 25, 36]

In [182]:
'''
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included). 
The numbers obtained should be printed in a comma-separated sequence on a single line.
'''

nl=[]
for x in range(2000, 3200):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

In [183]:
# Program to remove all twos from the list

l = [5, 3, 4, 5, 2, 5, 6, 7, 8, 2, 5, 6, 7, 8, 4, 3, 2, 2, 2]
print(l)

print('\n')

i=0
while i<len(l):
    if l[i]== 2:
        l.remove(2)
        i-=1

    if type(l[i]) == list:
        j=0
        while j<len(l[i]):
            if l[i][j] == 2:
                l[i].remove( 2)
                j-=1
            j=j+1
    i += 1
print(l)

[5, 3, 4, 5, 2, 5, 6, 7, 8, 2, 5, 6, 7, 8, 4, 3, 2, 2, 2]


[5, 3, 4, 5, 5, 6, 7, 8, 5, 6, 7, 8, 4, 3]

In [184]:
# Find product of all numbers present in a list

lst = [10, 20, 30, 40, 50]

product = 1
index = 0

while index < len(lst):
    product *= lst[index]       # same as product = product * lst[index]
    index += 1                  # same index = index + 1

print("Product is: {}".format(product))

Product is: 12000000

In [185]:
# Find product of all numbers present in a list

lst = [10, 20, 30, 40, 50]

product = 1

for element in lst:
    product *= element
    
print("Product is: {}".format(product))

Product is: 12000000

In [187]:
numbers = [1, 2, 3, 4, 5]

index = 0
while index < len(numbers):
    print(numbers[index])
    index += 1
else:
    print("No item left in the list")

1
2
3
4
5
No item left in the list

In [189]:
lst = ['Sohel', 'Rashid', 'Adil', 'Mujahid', 'Zaid', 'Mudassir', 'Arbaaz']

for names in lst:
    print(names)

Sohel
Rashid
Adil
Mujahid
Zaid
Mudassir
Arbaaz

In [190]:
lst = ['Sohel', 'Rashid', 'Adil', 'Mujahid', 'Zaid', 'Mudassir', 'Arbaaz']

for names in range(len(lst)):
    print(lst[names])

Sohel
Rashid
Adil
Mujahid
Zaid
Mudassir
Arbaaz

In [191]:
numbers = [1, 2, 3, 4, 5]

for item in numbers:
    print(item)
else:
    print("No item left in the list")

1
2
3
4
5
No item left in the list

In [195]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num == 4:
        break
    print(num)
else:
    print("in the else-block")
print("Outside of for loop")

1
2
3
Outside of for loop

In [196]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num % 2 == 0:
        continue
    print(num)
else:
    print("else-block")
print("Outside of for loop")

1
3
5
else-block
Outside of for loop

In [201]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num % 2 != 0:
        continue
    print(num)
else:
    print("else-block")

2
4
else-block

In [202]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

for val in numbers:
    sum = sum + val
print("The sum is", sum)

The sum is 48

In [204]:
# Program to iterate through a list using indexing

genre = ['pop', 'rock', 'jazz','classical']

# iterate over the list using index
for i in range(len(genre)):
    print("I like", genre[i])

I like pop
I like rock
I like jazz
I like classical

In [205]:
## 1)Get a list as input from user

# creating an empty list 
lst = [] 
  
# number of elements as input 
n = int(input("Enter number of elements : ")) 
  
# iterating till the range 
for i in range(0, n): 
    ele = int(input()) 
  
    lst.append(ele) # adding the element 
      
print(lst)

Enter number of elements : 5
44
55
66
77
88
[44, 55, 66, 77, 88]

In [206]:
# To convert all the elements in to upper case

fruits = ['apple', 'banana', 'cherry']

for fruit in fruits:
    print(fruit.upper())

APPLE
BANANA
CHERRY

In [207]:
# use enumerate if you need to access the index value within the loop

fruits = ['apple', 'banana', 'cherry']

for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

In [209]:
# Check whether banana is present in a list

fruits = ['apple', 'banana', 'cherry']

for fruit in fruits:
    if fruit == 'banana':
        print('Found banana!')
        break    # exit the loop and skip the 'else' block
else:
    # this block executes ONLY if the for loop completes without hitting 'break'
    print("Can't find the banana")

Found banana!

In [210]:
# for loop to create a list of cubes

nums = [1, 2, 3, 4, 5]

cubes = []

for num in nums:
    cubes.append(num ** 3)

cubes

# equivalent list comprehension
#cubes = [num**3 for num in nums]
#cubes

[1, 8, 27, 64, 125]

In [211]:
# for loop to create a list of cubes of even numbers

nums = [1, 2, 3, 4, 5]

cubes_of_even = []

for num in nums:
    if num % 2 == 0:
        cubes_of_even.append(num ** 3)
        
cubes_of_even

# equivalent list comprehension
# syntax: [expression for variable in iterable if condition]
#cubes_of_even = [num**3 for num in nums if num % 2 == 0]
#cubes_of_even

[8, 64]

In [212]:
# for loop to cube even numbers and square odd numbers

nums = [1, 2, 3, 4, 5]

cubes_and_squares = []

for num in nums:
    if num % 2 == 0:
        cubes_and_squares.append(num**3)
    else:
        cubes_and_squares.append(num**2)

cubes_and_squares

# equivalent list comprehension (using a ternary expression)
# syntax: [true_condition if condition else false_condition for variable in iterable]
#cubes_and_squares = [num**3 if num % 2 == 0 else num**2 for num in nums]
#cubes_and_squares

[1, 8, 9, 64, 25]

In [213]:
# for loop to flatten a 2d-matrix

matrix = [[1, 2], [3, 4]]

items = []

for row in matrix:
    for item in row:
        items.append(item)

items

# equivalent list comprehension
#items = [item for row in matrix]
#for item in row
#items

[1, 2, 3, 4]