# Introduction

Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. Python supports modules and packages, which encourages program modularity and code reuse. The Python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed.

# Basics

In [7]:
#To check the present working directory

In [10]:
pwd()

'C:\\Users\\DELL\\Desktop\\Great Learning\\Python'

In [11]:
# Simple print statement

print("Hello World!")
print('Sohel')
print(2) 
print(3.4)
print(4+5j)

Hello World!
Sohel
2
3.4
(4+5j)

In [14]:
# Additional methods

a = 10

print("The value of a is", a)

print("The value of a is " + str(a))

The value of a is 10
The value of a is 10

In [15]:
a = '10'

print("The value of a is", a)

print("The value of a is " + a)

The value of a is 10
The value of a is 10

In [23]:
# .format method in python

In [24]:
print('My name is {} and I love {}'.format("Sohel","Data Science"))

My name is Sohel and I love Data Science

In [25]:
print('I have completed my {} and I want a {}'.format("BE", "Job"))

I have completed my BE and I want a Job

In [26]:
name = "Sohel"
subject = "Data Science"

print('My name is {} and I love {}'.format(name,subject))

My name is Sohel and I love Data Science

In [28]:
name = "Sohel"
subject = "Data Science"

print('My name is {0} and I love {1}'.format(name,subject))

print('\n')

print('My name is {1} and I love {0}'.format(name,subject))

My name is Sohel and I love Data Science


My name is Data Science and I love Sohel

In [29]:
print('I have completed my {grad} and I want a {req}'.format(grad="BE", req="Job"))

I have completed my BE and I want a Job

In [30]:
print('The story of {0}, {1}, and {other}'.format('Bill', 'Jack', other='shane'))

The story of Bill, Jack, and shane

In [31]:
print('This is {0} programming language. It is very {1} to {2} and {3} {0} programs'.format('Python','Easy', 'Read', 'Write'))

This is Python programming language. It is very Easy to Read and Write Python programs

In [36]:
print('{0} and {1} programming languages are preffered over {2} for {3}. As {0} and {1} are {4} and {5}'.format('Python', 'R', 'Java', 'Data Science', 'Easy','Fast'))

Python and R programming languages are preffered over Java for Data Science. As Python and R are Easy and Fast

## Variable

In [37]:
# 1) Single Assignment

a = 5
b = 4.5
c = "Sohel"
d = True
e = a

print(a)
print(b)
print(c)
print(d)
print(e)

5
4.5
Sohel
True
5

In [41]:
# 2) Multiple Assignments

name = "Sohel"; age = 22;
print(name); print(age)

print('\n')

a, b, c, d, e = 5,4.5,"Sohel",True,"5"
print(a), print(b), print(c), print(d), print(e)

print('\n')

x = y = z = "same"
print(x);print(y);print(z)

Sohel
22


5
4.5
Sohel
True
5


same
same
same

## Storage Locations

In [51]:
x = 3

print(id(x))       #print address of variable x

140705719296464

In [52]:
y = 3

print(id(y))       #print address of variable y

# It is same as above because both x & y has a value of 3 and 
# python smartly assigns both of them to one memory location
# it is done just to save memory

140705719296464

In [54]:
z = x
                  #same as above
print(id(z))

140705719296464

In [55]:
y = 2

print(id(y))       #print address of variable y

140705719296432

## User defined input

In [58]:
# Store input numbers

num1 = input('Enter first number: ')

num2 = input('Enter second number: ')

print('\n')

print(type(num1))
print(type(num2))

print('\n')

print('First num is',num1)
print('Second num is',num2)

Enter first number: 55
Enter second number: 195


<class 'str'>
<class 'str'>


First num is 55
Second num is 195

#### * By default it takes string as the input
#### * In order to use take an integer as input, we will need to type-cast it to int

In [59]:
Name = input('Enter Your Name: ')
Age = int(input('Enter your Age: '))

print('\n')

print('My name is',Name,'and my age is', Age)

Enter Your Name: Sohel
Enter your Age: 23


My name is Sohel and my age is 23

In [60]:
num1 = int(input('Enter first number: '))

num2 = int(input('Enter second number: '))

print('\n')

print('First num is',num1) 
print('Second num is',num2)

print('\n')

add = num1 + num2
print('The sum of the given two numbers is', add)

Enter first number: 55
Enter second number: 195


First num is 55
Second num is 195


The sum of the given two numbers is 250

In [64]:
fname = input('Enter your First Name: ')
lname = input('Enter your Last Name: ')

fullname = fname +' '+ lname

print('\n')

print('My name is',fullname)

Enter your First Name: Sohel
Enter your Last Name: Shaikh


My name is Sohel Shaikh

In [74]:
my_string = input('Enter your String/Word: ')
times = int(input('Enter the times you want your string to be repeated: '))

print('\n')

print(my_string * times)

Enter your String/Word: Github
Enter the times you want your string to be repeated: 3


GithubGithubGithub

In [75]:
num1 = int(input('Enter first number: '))

num2 = int(input('Enter second number: '))

print('\n')

product = num1 * num2

print('The product of the given two numbers is', product)

Enter first number: 5
Enter second number: 5


The product of the given two numbers is 25

## Operators

In [91]:
## 1) Arithmetics

10 + 4

14

In [92]:
10 - 4

6

In [93]:
10 * 4

40

In [94]:
10 ** 4    # exponent

10000

In [95]:
10 % 4      # modulo - computes the remainder

2

In [96]:
10 / 4

2.5

In [97]:
10 // 4   # floor division - gives the division of two numbers &
          # rounds the float answer to the floor value

2

In [98]:
-10 // 4  # floor division

-3

In [99]:
a = 15
b = 3

a + b

18

In [100]:
a - b

12

In [101]:
a * b

45

In [102]:
a / b

5.0

In [103]:
a % b

0

In [104]:
a // b

5

In [105]:
a ** b

3375

In [109]:
## 2) Relational/ Comparisons

x = 10
y = 2

x > y      #returns either True or False

True

In [110]:
x < y

False

In [111]:
x == y

False

In [112]:
x != y

True

In [113]:
x >= y

True

In [114]:
x <= y

False

In [116]:
## 3) Logical/ Boolean operations

x = True
y = False

In [117]:
x and y     # and gives True when both the inputs are True

False

In [118]:
x or y      # or gives True when any one of the inputs is True

True

In [121]:
not x      # gives the compliement of the input i.e. 
           # for True it returns False and vice-versa

False

In [122]:
not y

True

In [123]:
5 > 3 and 6 > 3

True

In [125]:
5 > 3 and 5 < 3

False

In [126]:
5 > 3 or 5 < 3

True

In [129]:
False or not False and True     # evaluation order: not, and, or

True

In [130]:
## 4) Bitwise Operators

a, b = 10, 4

print(a)
print(b)

10
4

In [131]:
# Bitwise AND
# Returns 1 if both the bits are 1 else 0

'''a = 10 = 1010 (Binary)
b = 4 =  0100 (Binary

a & b = 1010
         &
        0100
      = 0000
      = 0 (Decimal)'''

print(a & b)

0

In [132]:
# Bitwise OR
# Returns 1 if either of the bit is 1 else 0

'''a = 10 = 1010 (Binary)
b = 4 =  0100 (Binary

a | b = 1010
         |
        0100
      = 1110
      = 14 (Decimal)'''

print(a | b)

14

In [135]:
# Bitwise NOT
# Returns one’s compliement of the number

'''a = 10 = 1010 (Binary)

~a = ~1010
   = -(1010 + 1)
   = -(1011)
   = -11 (Decimal)'''

print(~a)

-11

In [136]:
# Bitwise XOR
# Returns 1 if one of the bit is 1 and other is 0 else returns false

'''a = 10 = 1010 (Binary)
b = 4 =  0100 (Binary

a & b = 1010
         ^
        0100
      = 1110
      = 14 (Decimal)'''

print(a ^ b)

14

In [137]:
# Bitwise Right Shift
# Shifts the bits of the number to the right and fills 0 on voids left as a result. 
# Similar effect as of dividing the number with some power of two

print(a >> 1)
print(b >> 1)

5
2

In [138]:
# Bitwise Left Shift 
# Shifts the bits of the number to the left and fills 0 on voids left as a result. 
# Similar effect as of multiplying the number with some power of two

print(a << 1)
print(b << 1)

20
8

In [139]:
## 5) Assignment Operators

x = 10
x

10

In [140]:
x += 5    # add and assign
x

15

In [141]:
x -= 5   # subtract and assign
x

10

In [142]:
x *=5    # multiply and assign
x

50

In [143]:
x /=5    # divide and assign
x

10.0

In [144]:
x //=5    #floor divide and assign
x

2.0

In [145]:
x **=5    #exponent and assign
x

32.0

In [146]:
## 6) Membership Operators

c = "Sohel"

'h' in c

True

In [147]:
'H' not in c   # Since Python is Case Sensitive

True

In [148]:
'k' in 'Sohel'

False

In [150]:
## 7) Identity Operators

x1 = 5
y1 = 5

x1 is not y1

False

In [151]:
x1 is y1

True

In [152]:
a1 = 50
b1 = 5

a1 is b1

False

In [153]:
a1 is not b1

True

In [158]:
s1 = "Sohel"
s2 = "Sohel"

print('output of (s1 is not s2):', s1 is not s2)

print('\n')

print('output of (s1 is s2):', s1 is s2)

output of (s1 is not s2): False


output of (s1 is s2): True

In [160]:
s1 = "Sohel"
s2 = "sohel"

print('output of (s1 is not s2):', s1 is not s2)

print('\n')                                      # Python is Case-Sensitive

print('output of (s1 is s2):', s1 is s2)

output of (s1 is not s2): True


output of (s1 is s2): False

 ## Data Types

In [161]:
## 1) Checking the data types

a = 5                               
print(a, " is of type",type(a))  #data type is implicitly set to integer

5  is of type <class 'int'>

In [162]:
a = 2.5                              
print(a, " is of type",type(a))  #data type is changed to float

2.5  is of type <class 'float'>

In [163]:
a = 1 + 2j
print(a)
print(a, " is of type",type(a))  #data type is changed to complex

(1+2j)
(1+2j)  is of type <class 'complex'>

In [165]:
a = "Sohel"
print(a)
print(a, " is of type",type(a))  #data type is changed to str

Sohel
Sohel  is of type <class 'str'>

In [166]:
type(2)

int

In [167]:
type(2.0)

float

In [168]:
type('two')

str

In [169]:
type(True)

bool

In [172]:
type(None)

NoneType

In [178]:
## 2) Check if an object is of a given type

isinstance(2.0, int)

False

In [179]:
isinstance(2.0, (int, float))

True

In [180]:
isinstance('Sohel', str)

True

In [181]:
isinstance(2+5j, complex)

True

In [184]:
## 3) Coercion

# We can convert one type of number into another. 
# This is also known as coercion.
#It is forced to convert its type to perform an opertaion

1 + 2.0

3.0

In [185]:
5 * 2.0

10.0

In [186]:
## 4) Typecasting

# Convert an object to a given type

int(2.6)

2

In [187]:
int(-4.7)

-4

In [188]:
float(6)

6.0

In [189]:
str(2.9)

'2.9'

In [191]:
complex(5)

(5+0j)

In [192]:
int('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [193]:
## Zero, `None`, and empty containers are converted to `False`

bool(0)

False

In [194]:
bool(None)

False

In [195]:
bool('')    # empty string

False

In [196]:
bool([])    # empty list

False

In [197]:
bool({})    # empty dictionary

False

In [198]:
## Non-empty containers and non-zeros are converted to `True`

bool(2)

True

In [199]:
bool('two')

True

In [200]:
bool([2])

True

In [201]:
bool({x:5})

True

In [208]:
## Complex Number

c = 7 + 8j

In [209]:
c

(7+8j)

In [210]:
type(c)

complex

In [211]:
c.real

7.0

In [212]:
c.imag

8.0

In [213]:
c.conjugate()

(7-8j)

In [216]:
## Decimal 

print((1.1 + 2.2) == 3.3)

print('\n')

print(1.1 + 2.2)

print('\n')
# To overcome the above problem

from decimal import Decimal as D

print(D('1.1') + D('2.2'))

False


3.3000000000000003


3.3

In [217]:
# Swapping 2 numbers (1)

x = 2
y = 3

print('x =',x)
print('y =',y)

z = x
x = y
y = z 

print('\n')

print("After Swapping: ")

print('\n')

print('x =',x)
print('y =',y)

x = 2
y = 3


After Swapping:


x = 3
y = 2

In [218]:
# Swapping 2 numbers (2) 

x = 2
y = 3

print('x =',x)
print('y =',y)

x = x + y
y = x - y
x = x - y

print('\n')

print("After Swapping: ")

print('\n')

print('x =',x)
print('y =',y)

x = 2
y = 3


After Swapping:


x = 3
y = 2

In [219]:
# Swapping 2 numbers (3) 
# Possible in Python 

x = 2
y = 3

print('x =',x)
print('y =',y)

y , x = x, y 

print('\n')

print("After Swapping: ")

print('\n')

print('x =',x)
print('y =',y)

x = 2
y = 3


After Swapping:


x = 3
y = 2