## Strings

A string is a sequence of characters.

String properties: iterable, immutable

### Creating a String

In [2]:
my_string = "Hello World!"

print(my_string)
print(type(my_string))

Hello World!
<class 'str'>

In [3]:
mul_string = '''Hello World 
                I Like You '''

print(mul_string)
print(type(mul_string))

Hello World
                I Like You
<class 'str'>

In [4]:
mul_string = """Hello World 
                I Like You """ 

print(mul_string)
print(type(mul_string))

Hello World
                I Like You
<class 'str'>

In [5]:
# convert another data type into a string

print(type(42))

s = str(42)

print(s)
print(type(s))

<class 'int'>
42
<class 'str'>

### Accessing a String

In [6]:
my_string = 'Sohel Shaikh'

print ('my_string = ', my_string)

my_string

my_string =  Sohel Shaikh

'Sohel Shaikh'

In [7]:
# first character

print('my_string[0] = ', my_string[0])

my_string[0] =  S

In [8]:
# last character

print('my_string[-1] = ', my_string[-1])

my_string[-1] =  h

In [12]:
len(my_string) # length of the string

12

In [13]:
# last character using len 

print('last char = ',my_string[len(my_string)-1])

last char =  h

In [14]:
## Slicing

# slicing 2nd to 5th character

print(my_string[1:5])

ohel

In [15]:
my_string[0:5]

'Sohel'

In [16]:
my_string[5:10]

' Shai'

In [17]:
print(my_string[::2]) #step

ShlSak

In [18]:
# slicing 2nd to 2nd last character

print(my_string[2:-1])

hel Shaik

In [137]:
s = 'I like you'

s

'I like you'

In [138]:
s[:6]

'I like'

In [139]:
s[7:]

'you'

In [140]:
s[-1]

'u'

### Modification

Strings are immutable. 

This means that elements of a string cannot be changed once it has been assigned. 

We can simply reassign different strings to the same name.

In [19]:
my_string

'Sohel Shaikh'

In [21]:
# 'str' object does not support item assignment 
# We will get an error

my_string[2] = 'a'

TypeError: 'str' object does not support item assignment

### Delete Elements

We cannot delete or remove characters from a string. 

But deleting the string entirely is possible using the keyword del.

In [23]:
# 'str' object doesn't support item deletion
# We will get an error

del my_string[1]

TypeError: 'str' object doesn't support item deletion

In [25]:
# We can delete the entire string

del my_string  

my_string

NameError: name 'my_string' is not defined

### Concatination

In [26]:
str1 = 'Hello '

str2 ='World!'

print(str1)

print(str2)

Hello
World!

In [29]:
# using +

print('str1 + str2 = ', str1 + str2)

str1 + str2 =  Hello World!

In [30]:
# using *

print('str1 * 3 =', str1 * 3)

str1 * 3 = Hello Hello Hello

In [31]:
# concatenate strings
s3 = 'The meaning of life is'
s4 = '42'
s3 + ' ' + s4      # ' ' is used to include a space

'The meaning of life is 42'

In [32]:
user = "Sohel"
lines = 100

print("Congratulations, " + user + "! You just wrote " + lines + " lines of code")

TypeError: can only concatenate str (not "int") to str

In [33]:
user = "Sohel"
lines = 100

print("Congratulations, " + user + "! You just wrote " + str(lines) + " lines of code")

Congratulations, Sohel! You just wrote 100 lines of code

In [37]:
# join a list of strings into one string using a delimiter
# Empty space is the default seperator here

stooges = ['larry', 'curly', 'moe']

' '.join(stooges)

'larry curly moe'

In [38]:
# ',' is used as seperator here

stooges = ['larry', 'curly', 'moe']

','.join(stooges)

'larry,curly,moe'

In [40]:
# '-' is used as seperator here

stooges = ['larry', 'curly', 'moe']

'-'.join(stooges)

'larry-curly-moe'

### Split a string

In [41]:
s = 'I like you'

s

'I like you'

In [43]:
# split a string into a list of substrings separated by a delimiter
# We can specify the separator, default separator is any whitespace.

s.split()

['I', 'like', 'you']

In [44]:
# equivalent (since space is the default delimiter)

s.split(' ')

['I', 'like', 'you']

In [45]:
s2 = 'a, an, the'

print(s2)

print(s2.split(','))

a, an, the
['a', ' an', ' the']

In [46]:
## Remove whitespace from the start and end of a string

s5 = '  ham and cheese  '

print(s5)

s5.strip()

  ham and cheese

'ham and cheese'

### String substitutions

In [48]:
# old way

'Raining %s and %s' % ('cats', 'dogs')

'Raining cats and dogs'

In [49]:
# new way

'Raining {} and {}'.format('cats', 'dogs')

'Raining cats and dogs'

In [50]:
# new way (using named arguments)

'Raining {arg1} and {arg2}'.format(arg1='cats', arg2='dogs')

'Raining cats and dogs'

In [162]:
## String formatting

# use 2 decimal places

'pi is {:.2f}'.format(3.14159)

'pi is 3.14'

In [56]:
# use 1 decimal place

'pi is {:.1f}'.format(88.888888)

'pi is 88.9'

In [58]:
## Normal strings versus raw strings

# normal strings allow for escaped characters

print('first line\nsecond line')

first line
second line

In [59]:
# raw strings treat backslashes as literal characters

print(r'first line\nfirst line')

first line\nfirst line

In [60]:
## Escape Sequence

print("He said, "What's there?"")

SyntaxError: invalid syntax (<ipython-input-60-eb24479e90e3>, line 3)

In [62]:
# using triple quotes
      
print('''He said, "What's there?"''')

# escaping single quotes

print('He said, "What\'s there?"')

# escaping double quotes
      
print("He said, \"What's there?\"")

He said, "What's there?"
He said, "What's there?"
He said, "What's there?"

### Other string methods (does not modify the original string)

In [63]:
'l' in 'Hello World'

True

In [65]:
'or' in 'Hello World'

True

In [67]:
'llo' in 'Hello World'

True

In [72]:
s = 'I like you'

s

'I like you'

In [73]:
s.lower()

'i like you'

In [74]:
s.upper()

'I LIKE YOU'

In [75]:
s.startswith('I')

True

In [76]:
s.endswith('u')

True

In [77]:
s.endswith('you')

True

In [80]:
# checks whether every character in the string is a digit

s.isdigit()

False

In [81]:
# returns index of first occurrence, but doesn't support regex

s.find('like')

2

In [82]:
# returns -1 since not found

s.find('hate')

-1

In [83]:
# replaces all instances of 'like' with 'love'

s.replace('like', 'love')

'I love you'

In [84]:
# Extra 

s = "Sohel Shaikh"
s

'Sohel Shaikh'

In [85]:
s[::1]

'Sohel Shaikh'

In [86]:
s[::-1]

'hkiahS lehoS'

In [87]:
s.split()

['Sohel', 'Shaikh']

In [88]:
s.split()[0]

'Sohel'

In [89]:
s.split()[1]

'Shaikh'

In [91]:
h = s.split()[1] + s.split()[0]
h

'ShaikhSohel'

In [92]:
h = s.split()[1] +' '+ s.split()[0]
h

'Shaikh Sohel'

In [104]:
s = 'Sohel Shaikh'
s = s.split()
print(s)
print('\n')

m = ""
for i in s[::-1]:
    m = m + " "+i
print(m)

['Sohel', 'Shaikh']


 Shaikh Sohel

In [109]:
s = "Good Morning"

s.find("o")   # returns index of first occurance

1

In [110]:
s.find("Mo")

5

In [111]:
count = 0 

for i in 'Hello World':
    if i == 'o':
        count += 1
        
print(count, 'letters found')

2 letters found

In [114]:
s1 = "Bad Morning" 
print(s1)
print('\n')
                   
s2 = s1.replace("Bad", "Good") # creates a new string 
print(s2)

Bad Morning


Good Morning

## Advance string methods

In [120]:
# Palindrome or not

my_string = "MadaM"

# convert entire string to either lower or upper
my_string = my_string.lower()

# reverse string
rev_string = reversed(my_string)

print(my_string)
# print(rev_string)
print(list(rev_string))

# check if the string is equal to its reverse
if list(my_string) == list(rev_string):
    print("It is a Palindrome")
else:
    print("It is not a Palindrome")

madam
['m', 'a', 'd', 'a', 'm']
It is not a Palindrome

In [121]:
my_string = "Madan"

# convert entire string to either lower or upper
my_string = my_string.lower()

# reverse string
rev_string = reversed(my_string)

# check if the string is equal to its reverse
if list(my_string) == list(rev_string):
    print("It is a Palindrome")
else:
    print("It is not a Palindrome")

It is not a Palindrome

In [122]:
# sort words in Alphabetic order

myStr = "Python Program to Sort words in  Alphabetic Order"

# breaking the string into list of words
words = myStr.split()

# sort the list
words.sort()

# print Sorter words
for word in words:
    print(word)

Alphabetic
Order
Program
Python
Sort
in
to
words

## Practice

In [123]:
"sohel" + "shaikh"

'sohelshaikh'

In [124]:
"sohel " + "shaikh"

'sohel shaikh'

In [125]:
"sohel" + str(5)

# "sohel" + '5'

'sohel5'

In [126]:
"Sohel's"

"Sohel's"

In [127]:
'Sohel"s'

'Sohel"s'

In [128]:
'''Sohel'''

'Sohel'

In [129]:
# this is a code to explain str operation (Single line comment)
'Sohel"s'

'Sohel"s'

In [130]:
'''MULTI
   LINE 
   COMMENT'''

'MULTI\n   LINE \n   COMMENT'

In [131]:
s = "hello world"

In [132]:
s

'hello world'

In [133]:
s.upper()

'HELLO WORLD'

In [134]:
s

'hello world'

In [135]:
s.lower()

'hello world'

In [136]:
s = "hello world good morning Sohel here"

In [137]:
s.split()

['hello', 'world', 'good', 'morning', 'Sohel', 'here']

In [138]:
s.split('o')

['hell', ' w', 'rld g', '', 'd m', 'rning S', 'hel here']

In [139]:
s.split('l')

['he', '', 'o wor', 'd good morning Sohe', ' here']

In [140]:
"My name is {}. My age is {}".format("Sohel",23)

'My name is Sohel. My age is 23'

In [141]:
"My name is {0}. My age is {1} ".format("Sohel",23)

'My name is Sohel. My age is 23 '

In [142]:
"My name is {1}. My age is {0} ".format("Sohel", 23)

'My name is 23. My age is Sohel '

In [143]:
"My name is {x}. My age is {y} ".format(x= "Sohel",y= 23)

'My name is Sohel. My age is 23 '

In [144]:
"My name is {x}. My age is {y}. I have {y} cards with name {x}".format(x= "Sohel",y= 25)

'My name is Sohel. My age is 25. I have 25 cards with name Sohel'

In [145]:
x= "Sohel"
y= 23

print(f"My name is {x}. My age is {y} ")

My name is Sohel. My age is 23

In [146]:
s = "hello world"

In [147]:
s.find('l')

2

In [148]:
s.find('d')

10

In [149]:
s.find('wo')

6

In [151]:
s = "hello world"

l = []
l1 = []

for i in range(len(s)):
    if s[i] == 'l':
        l.append(i)
        l1.append(s[i])

print(l,l1 , sep ='\n')

[2, 3, 9]
['l', 'l', 'l']

In [152]:
s ="sohel"
s

'sohel'

In [153]:
s.center(40,'v')

'vvvvvvvvvvvvvvvvvsohelvvvvvvvvvvvvvvvvvv'

In [154]:
s.center(20,'u')

'uuuuuuusoheluuuuuuuu'

In [155]:
s.center(40,'vu')

TypeError: The fill character must be exactly one character long

In [156]:
s.center(40,'*')

'*****************sohel******************'

In [157]:
s.center(40,'#')

'#################sohel##################'

In [159]:
'hello\tworld'.expandtabs()

'hello   world'

In [160]:
s = "hello"
s

'hello'

In [161]:
s.islower()

True

In [162]:
s.isalnum()

True

In [163]:
s.isalpha()

True

In [164]:
s.isnumeric()

False

In [165]:
s.isspace()

False

In [166]:
a = " "

In [167]:
a.isspace()

True

In [168]:
b = "Hello"

In [169]:
b.isupper()

False

In [170]:
b.istitle()

True

In [171]:
"Sam" * 3

'SamSamSam'