## Tuples

In Python programming, a tuple is similar to a list. 
The difference between the two is that we cannot change the elements of a tuple once 
it is assigned whereas in a list, elements can be changed.

Adv
- iterating through tuple is faster than with list.
- it remains write-protected.

A tuple is created by placing all the items (elements) inside a parentheses ( ), separated by comma. 
The parentheses are optional but is a good practice to write it.

Tuple properties: ordered, iterable, immutable, can contain multiple data types
Like lists, but they don't change size

### Creating a Tuple

In [1]:
# empty tuple

my_tuple = ()

print(my_tuple)
print(type(my_tuple))

()
<class 'tuple'>

In [2]:
# empty tuple

new_tuple = tuple()

print(new_tuple)
print(type(new_tuple))

()
<class 'tuple'>

In [4]:
# tuple having integers

my_tuple = (1, 2, 3)

print(my_tuple)

(1, 2, 3)

In [5]:
# tuple with mixed datatypes

my_tuple = (1, "Hello", 3.4)

print(my_tuple)

(1, 'Hello', 3.4)

In [7]:
# nested tuple

my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [8]:
# tuple can be created without parentheses also called tuple packing

my_tuple = 3, 4.6, "dog"


print(my_tuple)
print(type(my_tuple))

(3, 4.6, 'dog')
<class 'tuple'>

In [9]:
# Creating a tuple with one element is a bit tricky.
# Having one element within parentheses is not enough.
# We will need a trailing comma to indicate that it is in fact a tuple.

t = ('sohel')
print(t)
print(type(t))

sohel
<class 'str'>

In [10]:
# need a comma at the end

t = ('sohel',)
print(t)
print(type(t))

('sohel',)
<class 'tuple'>

In [12]:
t = 'sohel',
print(t)
print(type(t))

('sohel',)
<class 'tuple'>

In [13]:
# create a tuple from a list

digits = tuple([0, 1, 'two'])

print(digits)

print(type(digits))

(0, 1, 'two')
<class 'tuple'>

In [14]:
# tuple unpacking is also possible

print(my_tuple)
print('\n')

a, b, c = my_tuple

print(a)
print(b)
print(c)

(3, 4.6, 'dog')


3
4.6
dog

### Accessing a Tuple

In [15]:
my_tuple = ('p','e','r','m','i','t')

my_tuple

('p', 'e', 'r', 'm', 'i', 't')

In [16]:
len(my_tuple)

6

In [17]:
# Mention the index of the element to be extracted

print(my_tuple[0])
print('\n')
print(my_tuple[5])

p


t

In [18]:
print(my_tuple[-1])   # negative indexing 
                     # The last element is considered as -1 and so on
print('\n')    
print(my_tuple[-3])

t


m

In [19]:
# Slicing

print(my_tuple[:])

('p', 'e', 'r', 'm', 'i', 't')

In [20]:
print(my_tuple[1:4])

('e', 'r', 'm')

In [21]:
print(my_tuple[::2]) # step

('p', 'r', 'i')

In [22]:
# backwards (step by -1)
my_tuple[::-1]

('t', 'i', 'm', 'r', 'e', 'p')

In [24]:
# nested tuple

n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

n_tuple

('mouse', [8, 4, 6], (1, 2, 3))

In [25]:
n_tuple[0]

'mouse'

In [26]:
n_tuple[1]

[8, 4, 6]

In [27]:
# nested index

print(n_tuple[0][0:2])

mo

In [28]:
# nested index

print(n_tuple[1][1])

4

In [29]:
# nested index

print(n_tuple[-1])
print('\n')

print(n_tuple[2][1])

(1, 2, 3)


2

In [30]:
n_tuple[0][1:4]

'ous'

In [31]:
print(n_tuple[1][::2])

[8, 6]

### Updation of a Tuples

Unlike lists, tuples are immutable.

This means that elements of a tuple cannot be changed once it has been assigned. 

But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [32]:
digits

(0, 1, 'two')

In [33]:
# elements of a tuple cannot be modified (this would throw an error)
digits[2] = 2

TypeError: 'tuple' object does not support item assignment

In [34]:
t = (1,2,3,4, [5,6,7])
print(t)

(1, 2, 3, 4, [5, 6, 7])

In [36]:
t[4][1]

6

In [38]:
# since list is mutable

t[4][1] = 'sohel'
print(t)

(1, 2, 3, 4, [5, 'sohel', 7])

In [39]:
# Concatenation

t = (1, 2, 3) + (4, 5, 6)
print(t)

(1, 2, 3, 4, 5, 6)

In [41]:
# concatenate tuples

digits = digits + (3, 4)

digits

(0, 1, 'two', 3, 4, 3, 4)

In [43]:
# Repeat

print(("Repeat",) * 3)

('Repeat', 'Repeat', 'Repeat')

In [44]:
# create a single tuple with elements repeated (also works with lists)

(3, 4) * 2

(3, 4, 3, 4)

### Deleting a Tuple

As discussed above, we cannot change the elements in a tuple. That also means we cannot delete or remove items from a tuple.

But deleting a tuple entirely is possible using the keyword del.

In [45]:
my_tuple

('p', 'e', 'r', 'm', 'i', 't')

In [46]:
del my_tuple

my_tuple

NameError: name 'my_tuple' is not defined

### More Functions

In [47]:
t = (1,2,3,1,3,3,4,1)
print(t)
print('\n')

print(t.count(4))   # returns the count of an element
print('\n')

print(t.count(3))
print('\n')

(1, 2, 3, 1, 3, 3, 4, 1)


1


3

In [48]:
t = (1,2,3,1,3,3,4,1)

print(t.index(3)) # returns index of the first occurance of an element

2

In [49]:
1 in t

True

In [50]:
7 in t

False

In [51]:
7 not in t

True

In [52]:
len(t)

8

In [54]:
t = (4,5,1,3,2)
print(t)
print('\n')

new_t = sorted(t)   # takes a tuple and returns a a new sorted list
print(new_t)        # does not sort the tuple itself

(4, 5, 1, 3, 2)


[1, 2, 3, 4, 5]

In [56]:
t = (4,5,0,3,99,1,2)

print(min(t))
print('\n')

print(max(t))
print('\n')

print(sum(t))

0


99


114

In [58]:
# sort a list of tuples

tens = [(20, 60), (10, 40), (20, 30)]

sorted(tens)    # sorts by first element in tuple, then second element

[(10, 40), (20, 30), (20, 60)]

In [59]:
# tuple unpacking

bart = ('male', 10, 'simpson')    # create a tuple

(sex, age, surname) = bart        # assign three values at once

print(sex)
print(age)
print(surname)

male
10
simpson

## Practice

In [60]:
c = ()
c

()

In [61]:
type(c)

tuple

In [62]:
c = tuple()
c

()

In [63]:
type(c)

tuple

In [64]:
c = (3, 4, 5, 6, 7, "sohel", 4.56, 6+8j)
c

(3, 4, 5, 6, 7, 'sohel', 4.56, (6+8j))

In [65]:
type(c)

tuple

In [66]:
c[0]

3

In [67]:
c[0:5]

(3, 4, 5, 6, 7)

In [69]:
c[0:5:2]

(3, 5, 7)

In [70]:
c[::2]

(3, 5, 7, 4.56)

In [71]:
c[::-1]

((6+8j), 4.56, 'sohel', 7, 6, 5, 4, 3)

In [72]:
for i in c:
    print(i)

3
4
5
6
7
sohel
4.56
(6+8j)

In [73]:
for i in range(len(c)):
    print(i)

0
1
2
3
4
5
6
7

In [74]:
for i in range(len(c)):
    print(c[i])

3
4
5
6
7
sohel
4.56
(6+8j)

In [75]:
c.count(6)

1

In [76]:
c.count(34)

0

In [77]:
c.index('sohel')

5

In [78]:
a = 4,5,6,7
a

(4, 5, 6, 7)

In [79]:
type(a)

tuple

In [80]:
a[2]

6

In [81]:
a,b,c = 5,6,7

In [82]:
a

5

In [83]:
b

6

In [84]:
c

7

In [85]:
t = ((3,4,5),(5,6,7))
t

((3, 4, 5), (5, 6, 7))

In [86]:
t[0]

(3, 4, 5)

In [87]:
t[0][2]

5

In [88]:
t[1]

(5, 6, 7)

In [89]:
t[1][1]

6

In [96]:
l = [(4,5,6)]
l

[(4, 5, 6)]

In [97]:
type(l)

list

In [98]:
l[0]

(4, 5, 6)

In [99]:
l[0][0]

4

In [100]:
b = ([4,5,6])
b

[4, 5, 6]

In [101]:
type(b)

list

In [103]:
b = ([4,5,6],[5,6,7])
b

([4, 5, 6], [5, 6, 7])

In [105]:
type(b)

tuple

In [106]:
b[1]

[5, 6, 7]

In [107]:
b[0]

[4, 5, 6]

In [108]:
b[1][2]

7

In [110]:
c = (4,5,6,7)
c

(4, 5, 6, 7)

In [111]:
type(c)

tuple

In [112]:
l = list(c)
l

[4, 5, 6, 7]

In [113]:
type(l)

list

In [114]:
l[2] = 'Sohel'
l

[4, 5, 'Sohel', 7]

In [115]:
c = tuple(l)
c

(4, 5, 'Sohel', 7)

In [116]:
type(c)

tuple